:root{
--primary-text-color: #757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-bg-color:#E5E5E5;
--primary-white-color:#ffffff;
}




body{
    background-color:var(--primary-bg-color);
    color:var(--title-text-color);
    font-family: "Roboto", sans-serif;}





.logo{
    font-family: "Ralewey",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
}
 

.site-nav{
    font-weight: 500;
    Font-size: 14px;
    Line-height:1.14;
}



.nav-title{
  font-family: "Roboto";
    color:var(--accent-color);
   font-weight: 500;
   Font-size:14px;
   Line-height:1.14;
}
 

.link:hover,
.link:focus{
    color:tomato;
    
}
.site-nav .link.current{
    font-size:14px;
    line-height: 1.14;
}  

.link:active{
    color: teal;
}

/*Герой*/



.title-head{
   font-weight:900;
   font-size: 44px;
   line-height: 1.36;
   text-align:center;
}


.button{
    color: white;
    background-color:var(--accent-color);
    border-color:transparent;
    cursor:pointer;
    font-family:inherit;
    font-weight: 700;
    Font-size: 16px;
    Line-height: 1.9;
    
    
}


.text-head{
   font-weight: 700;
   Font-size:14px;
   Line-height:1.14;
}



.text-main{
   color:var(--primary-text-color);
   Font-style:Regular;
   Font-size:14px;
   Line-height:1.7;
}


.title-maid{
   font-weight: 700;
   Font-size:36px;
   Line-height:1.16;
}


.title-team{
   Font: style 700;
   Font-size:36px;
   Line-height:1.16 ;
}



.team-person{
   font-weight: 500;
   Font-size:16px;
   Line-height:1.18;
}



.person-job{
   color: var(--primary-text-color);
   font-weight: 400;
   Font-size: 16px;
   Line-height: 1.18;
}




.image-title{
    font-weight: 700;
    Font-size: 18px;
    Line-height: 2;
}



.image-text{
    font-weight: 400;
    Font-size: 16px;
    Line-height: 1.9;
}



.button-type{
    color:var(--title-text-color);
    border-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    Font-size: 16px;
    Line-height: 26px;
}


